/*@import url('../../reset.css');*/

html {
    font: 16px/1.5 Arial, Helvetica sans-serif;
}

.element {
    background: black;
    border-radius: 0.5em;
    color: white;
    display: flex;
    align-items: center;
}

.element > p {
    padding-left: 1em;
    font-weight: 700;
}

.container {
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(3, 12.5em);
    grid-template-rows: repeat(3, 3.5em);
    grid-gap: 1.5em;
    justify-content: center;
}


