input {
    border: 1px solid $white-color;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: $blue-300;
    padding: 16px;
    width: 24%;

    @include for-phone-only {
        width: 100%;
    }
}

.inputs--page-2 {
    display: flex;
    justify-content: space-between;
    margin: 0 17%;

    @include for-phone-only {
        flex-direction: column;
        height: 300px;
    }
}