@import "../01.settings/_settings-breakpoints.scss";
@import "../01.settings/_settings-colors.scss";

.program {
    background-color: $secondary-500;
    min-height: 554px;
}

.program__container {
    align-items: flex-start;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 64px 60px;

    @include for-phone-only {
        margin: 64px 0px;
    }
}

.program__title {
    color: $grey-700;
    @include for-phone-only {
        margin-left: 60px;
    }
}

.program__text {
    color: $grey-700;
    padding: 24px 0;
    max-width: 675px;
}

.program__img-book {
    position: absolute;
    left: -60px;

    @include for-phone-only {
        left: 0px;
    }
}

.program__label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 676px;
    min-height: 248px;

    & select {
        border-radius: 6px;
        height: 50px;
        width: 100%;
        padding: 14px 14px;
        border: none;
        color: $grey-700;
        -webkit-appearance: none;
    }
}

.program__label label::after {
    content: '';
    background: url("/assets/icons/arrow.svg") center no-repeat;
    width: 12px;
    height: 8px;
    display: inline-block;
    position: relative;
    top: 30px;
    left: 95%;

    @include for-phone-only {
        left: 90%;
    }
}

.program__img-to-do-list {
    position: absolute;
    bottom: 0;
    right: 0;

    @include for-phone-only {
        display: none;
    }
}

.program__label-for-loop h5 {
    color: $grey-700;
}