@import "../01.settings/_settings-colors.scss";
@import "../01.settings/_settings-breakpoints.scss";

.img-circle {
    border-radius: 50%;
    border: 8px solid $primary-300;
}

.lecturers article div {
    position: relative;
    width: 188px;
    margin: 0 auto;
}

.lecturers article div:after,
.lecturers article div::before {
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-radius: 50%;
}

.lecturers article div:after {
    content: '\A';
    width: 187px;
    height: 187px;
    top: 0;
    left: 0;
    border: 8px solid $primary-300;
    background-color: $secondary-800;
}

.lecturers article div::before {
    content: url("/assets/icons/info-learn-more.svg");
    width: 100%;
    z-index: 1;
    bottom: 50px;
    left: 0px;
}

.lecturers article div:hover:after,
.lecturers article div:hover:before {
    cursor: pointer;
    opacity: 0.8;
}

.lecturers article div:hover:before{
    opacity: 1;
}