.main__text-video {
  margin-top: 96px;
  margin-bottom: 98px;
}

@media (max-width: 1399px) {
  .main__text-video {
    margin: 64px 0;
  }
}

@media (max-width: 1399px) {
  .main__text-video__container {
    flex-direction: column;
    width: 90%;
  }
}

.main__text {
  max-width: 739px;
  min-height: 321px;
  flex-direction: column;
  margin: 0 !important;
}

.main__text p {
  color: #565656;
}

@media (max-width: 1399px) {
  .main__text p {
    margin-bottom: 32px;
  }
}

.main__img {
  position: relative;
}

.main__img .main__img-picture {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  height: auto;
  max-width: 440px;
}

@media (max-width: 1399px) {
  .main__img .main__img-picture {
    display: flex;
    margin: 0 auto;
  }
}

.main__img .main__img-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
