body{
    max-width: 45em;
    margin: 5em auto;
}

header{
    margin-bottom: 2em;
    text-align: center;
}

h1{
    margin-bottom: 1em;
}

h2,
h3,
h4 {
    margin-bottom: 0.8em;
    margin-top: 1.2em;
}