@import url('../../reset.css');
@import url('variables.css');
@import url('layout.css');

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700&display=swap');

html{
    font-family: var(--content-font-family);
    font-size: 16px;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
}

h1{
    font-size: 2.5em;
}

