.c-button {
    border: 0;
    background: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 20px;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    /* font-family: 'Lato', sans-serif; */
    margin-left: 15px;
}

.c-button:hover {
    cursor: pointer;
    box-shadow: none;
}

.c-button--disabled:hover {
    cursor: not-allowed;
}

.c-button--primary {
    background-color: #FFA000;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.c-button--primary--disabled {
    background-color: #D6D6D6;
    font-weight: 900;
    box-shadow: none;
    font-size: 14px;
}

.c-button--secondary {
    border: 1px solid #FFA000;
    color: #FFA000;
    font-size: 14px;
    line-height: 16px;
    font-weight: 900;
    background-color: white;
}

.c-button--secondary--disabled{
    color: #D6D6D6;
    border: 1px solid #D6D6D6;
}

.c-button--small {
    background-color: #FFA000;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.c-button--small--disabled{
    background-color: #D6D6D6;
    font-weight: 900;
    box-shadow: none;
}