html{
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    max-width: 70em;
    margin: 5em auto;
}

.board{
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
    gap: 3px;
    justify-content: center;
    align-content: center;
}

.item{
    border: 1px solid black;
    border-radius: 0.3em;
}

.item:nth-child(odd) {
    background: black;
}