.navbar__links {

    @for $i from 1 through 5 {
        li:nth-child(#{$i}) {
            animation-delay: #{0.2 * $i}s;
        }
    }

    & li {
        opacity: 0;
        animation: shimmy 1s ease-out forwards;

        @keyframes shimmy {
            0% {
                transform: translateY(-100px);
            }

            100% {
                transform: translateY(0px);
                opacity: 1;
            }
        }
    }
}

.footer__section {
    & li:hover {
        transform: scale(1.2);
    }
}

.program__img-to-do-list,
.img-circle--main {
    transition: transform 2s ease-out;

    &:hover {
        transform: rotate(360deg);
    }
}