.main__text-video {
  margin-top: 153px;
  margin-bottom: 98px;
}

.main__text {
  width: 739px;
  height: 321px;
  flex-direction: column;
  margin: 0 !important;
}

.main__text p {
  color: #565656;
}

.main__img {
  position: relative;
  width: 440px;
  height: 248px;
}

.main__img .main__img-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
