@import "../settings/settings-colors.scss";

.main__info-1 {
    align-items: flex-start;
}

.main__info-1 article {
    width: 552px;
    display: flex;
    align-items: flex-start;
}

.main__info__section {
    margin-left: 35px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--first{
        height: 110px;
    }

    & p {
        width: 488px;
    }
}

.main__info__section__title {
    color: $grey-700;
    margin: 0;
}

.border-dotted-info{
    border-right: 10px dotted $secondary-100;
    height: 180px;
}