@import "../settings/settings-breakpoints.scss";
@import "../settings/settings-colors.scss";

.main__info-1 {
    align-items: flex-start;

    @include for-phone-only {
        flex-direction: column;
    }
}

.main__info-1 article {
    max-width: 552px;
    display: flex;
    align-items: flex-start;
}

.main__info__section {
    margin-left: 5%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--first{
        height: 110px;

        @include for-phone-only {
            height: 100%;
        }
    }

    &--second{
        height: 308px;
    }

    &--third{
        height: 332px;

        & a {
            color: $secondary-800;
        }
    }

    & p {
        width: 100%;

        @include for-phone-only {
            margin-top: 16px;
        }
    }

    & strong{
        color: $grey-700;
    }
}

.main__info__section__title {
    color: $grey-700;
    margin: 0;
}

.main__info-2{
    margin-top: 42px;

    & .main__info-1 article{
        width: 610px;
    }
}