@charset "UTF-8";
.main__info-1 {
  align-items: flex-start;
}

@media (max-width: 1199px) {
  .main__info-1 {
    flex-direction: column;
  }
}

.main__info-1 article {
  max-width: 552px;
  display: flex;
  align-items: flex-start;
}

.main__info__section {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__info__section--third a {
  color: #FF9100;
}

.main__info__section p {
  margin-top: 16px;
}

@media (max-width: 1199px) {
  .main__info__section p {
    margin-left: -48px;
  }
}

.main__info__section strong {
  color: #565656;
}

.main__info__section__title {
  color: #565656;
  margin: 0;
}

@media (max-width: 1199px) {
  .main__info__section__title--phone {
    text-indent: -9999px;
    line-height: 0;
    /* Collapse the original line */
  }
  .main__info__section__title--phone::after {
    content: "Важно!";
    text-indent: 0;
    display: block;
    line-height: initial;
  }
}

.main__info-2 {
  margin-top: 42px;
}

.main__info-2 .main__info-1 article {
  max-width: 610px;
}

@media (max-width: 1199px) {
  .main__info-1-img-puzzle {
    display: none;
  }
}

.main__info-1-img-bell {
  display: none;
}

@media (max-width: 1199px) {
  .main__info-1-img-bell {
    display: block;
  }
}
