@import "../settings/settings-colors.scss";

.header {
    background-color: $blue-400;

    &__info {
        text-align: center;
        color: $white-color;
        display: flex;
        flex-direction: column;

        .header-padding-top-bottom{
            padding-top: 68px;
            padding-bottom: 28px;
        }
        
        .header__title {
            width: 644px;
            height: 88px;
            margin: 0 auto;
        }

        .header__label {
            background-color: $secondary-500;
            padding: 4px 8px;
            margin: 0 auto;
            text-transform: uppercase;
            border-radius: 4px;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
        }
    }
}