.header {
  background-color: #44A9F8;
  width: 100%;
}

.header__info {
  text-align: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 302px;
}

.header__info .header-padding-top-bottom {
  padding-top: 68px;
  padding-bottom: 28px;
}

.header__info .header__title-h2 {
  width: 45%;
  margin: 0 auto;
}

@media (max-width: 599px) {
  .header__info .header__title-h2 {
    display: none;
  }
}

.header__info .header__title-h3 {
  display: none;
}

@media (max-width: 599px) {
  .header__info .header__title-h3 {
    display: block;
  }
}

.header__info .header__span {
  background-color: #FFC20A;
  padding: 4px 8px;
  margin: 0 auto;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
