.navbar {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}

.navbar__container {
  height: 74px;
}

.navbar__container .navbar__links {
  display: flex;
}

.navbar__container .navbar__links li {
  list-style: none;
  margin-left: 48px;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .navbar__container .navbar__links li {
    display: none;
  }
}

.navbar__container .navbar__links a {
  text-decoration: none;
  color: #565656;
}

.navbar__container .navbar__links a:hover {
  color: #FF9100;
  cursor: pointer;
}

.navbar__container .navbar__logo {
  flex: 1;
  margin-left: 16.34px;
}

@media (max-width: 1199px) {
  .navbar__container .navbar__logo .navbar__img-softuni-desktop {
    display: none;
  }
}

.navbar__container .navbar__logo .navbar__img-softuni-phone {
  display: none;
}

@media (max-width: 1199px) {
  .navbar__container .navbar__logo .navbar__img-softuni-phone {
    display: block;
  }
}

.navbar__container .navbar__search {
  margin-right: 32px;
  margin-left: 44px;
}

@media (max-width: 1199px) {
  .navbar__container .navbar__search {
    display: none;
  }
}

.navbar__container .navbar__img-menu {
  display: none;
}

@media (max-width: 1199px) {
  .navbar__container .navbar__img-menu {
    display: block;
    padding-left: 24px;
  }
}
