.card {
  margin-top: -80px;
}

.card__container {
  background-color: #FFFFFF;
  min-height: 112px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  justify-content: flex-start;
  width: 90%;
  margin-top: 24px;
}

.card__container-inside {
  width: 100%;
}

@media (max-width: 599px) {
  .card__container-inside {
    flex-direction: column;
    margin: 5% 5%;
    align-items: flex-start;
  }
}

@media (max-width: 599px) {
  .card__button {
    margin: 0 auto;
    padding: 16px 94px;
    line-height: 20px;
  }
}

.card__label__section {
  display: flex;
  flex-direction: column;
  height: 52px;
  justify-content: space-between;
}

.card__label {
  display: flex;
}

.card__label__img {
  margin-right: 24px;
}

.card__money {
  margin-left: 80px;
}

@media (max-width: 599px) {
  .card__money {
    margin-left: 0;
  }
}

.card__money__info {
  margin-left: 10px;
}

.card__location {
  position: relative;
}

.card__location__img__circle {
  position: absolute;
  left: 6px;
  bottom: 22px;
}

.card__calendar {
  position: relative;
}

.card-calendar-front {
  position: absolute;
  left: 3px;
  bottom: 16px;
}

.p-information {
  color: #565656;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.p-value {
  color: #FF9100;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
