* {
    padding: 0;
    margin: 0;
}

@media (max-width: 1024px) {
    .blog {
        grid-template-areas:
                'header'
                'main'
                'aside'
                'footer';
    }
}

@media (min-width: 1025px) {
    .blog {
        grid-template-areas:
                'header header header'
                'main main aside'
                'footer footer footer';
    }
}

.blog {
    display: grid;
    grid-gap: 1em;
    margin: 3em;
}

.blog > * {
    padding: 1.25em;
    background-color: black;
    color: white;
    border-radius: 0.15em;
}

.blog header {
    grid-area: header;
}

.blog main {
    grid-area: main;
}

.blog aside {
    grid-area: aside;
}

.blog footer {
    grid-area: footer;
}