body{
    max-width: 50em;
    margin: 5em auto;
}

.container {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--secondary-color);
    border-radius: 0.5em;
    padding: 2em;
}

.text-box{
    flex: 0 0 32%;
    padding: 0 1em;
    min-height: 28vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

h3, p, .more-button {
    font-family: Arial, sans-serif;
    color: var(--primary-color);
}

h3 {
    font-weight: bold;
    margin-bottom: 0.8em;
    font-size: 1.3em;
}

p{
    font-size: 1em;
    margin-bottom: 1em;
}

.more-button {
    background: var(--secondary-color);
    border-radius: 0.35em;
    padding: 0.5em;
    color: #ffffff;
    font-weight: bold;
    margin-top: auto;
    max-width: 40%;
    text-align: center;
    text-decoration: none;
}

.more-button:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}


