@charset "UTF-8";
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navbar__links li:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.navbar__links li:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.navbar__links li:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.navbar__links li:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.navbar__links li:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.navbar__links li {
  opacity: 0;
  -webkit-animation: shimmy 1s ease-out forwards;
          animation: shimmy 1s ease-out forwards;
}

@-webkit-keyframes shimmy {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes shimmy {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.footer__section li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.program__img-to-do-list {
  -webkit-transition: -webkit-transform 2s ease-out;
  transition: -webkit-transform 2s ease-out;
  transition: transform 2s ease-out;
  transition: transform 2s ease-out, -webkit-transform 2s ease-out;
}

.program__img-to-do-list:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

select {
  width: 167px;
  height: 44px;
  background: #F8F8F8;
  border: 1px solid #FF9100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-appearance: none;
  padding: 12px 18px;
  color: #919191;
}

#level {
  width: 197px;
}

@font-face {
  font-family: 'LatoWeb';
  src: url("/font/Lato/fonts/Lato-Regular.ttf") format("truetype");
}

html,
* {
  font-family: 'LatoWeb';
  line-height: 16px;
  font-style: normal;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

h4 {
  font-weight: 600;
}

h5 {
  font-weight: bold;
}

h2 {
  line-height: 44px;
}

h3 {
  line-height: 36px;
}

h4 {
  line-height: 24px;
}

h5 {
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

h5 {
  font-family: 'LatoWeb';
}

a {
  font-weight: 600;
  font-size: 13px;
}

p,
button,
option {
  font-size: 16px;
  line-height: 20px;
}

p {
  font-weight: normal;
}

button {
  font-weight: 800;
}

option {
  color: #565656;
}

span {
  font-family: 'LatoWeb';
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

.button {
  text-transform: uppercase;
  color: white;
  background: #FF9100;
  border-radius: 100px;
  padding: 14px 32px;
  border: none;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  font-weight: 800;
}

.button--small {
  padding: 10px 22px;
  font-size: 13px;
  line-height: 16px;
}

.button--card {
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

.button--program {
  font-size: 16px;
  line-height: 20px;
}

.button:hover {
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.page-margin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5%;
}

.border-dotted-info {
  border-right: 10px dotted #FFECB3;
  height: 180px;
}

@media (max-width: 1399px) {
  .border-dotted-info {
    border-top: 10px dotted #FFECB3;
    width: 100%;
    height: 10px;
    margin: 30px 0;
  }
}

.border-dotted-info--second {
  height: 332px;
}

@media (max-width: 1399px) {
  .border-dotted-info--second {
    border-top: 10px dotted #FFECB3;
    height: 10px;
  }
}

.border-dotted-program {
  border-bottom: 10px dotted white;
  position: relative;
  top: 5px;
  margin: 0 5px;
  margin-top: 64px;
}

.border-dotted-program--bottom {
  top: -5px;
  margin-top: 0;
}

.border-right-solid-card {
  border-right: 2px solid #F1F1F1;
  height: 24px;
  margin: 44px 32px;
}

@media (max-width: 1399px) {
  .border-right-solid-card {
    border-top: 2px solid #F1F1F1;
    margin: 24px 22px;
    width: 24px;
    height: 0;
  }
}

.border-right-dotted-card {
  position: relative;
  margin: 0;
  height: 120px;
  width: 20px;
  margin-left: 5%;
  background: radial-gradient(circle 12px, transparent, transparent 40%, #C4C4C4 60%, #fff 60%, #fff 100%) 40px 12px/20px 22px repeat;
}

@media (max-width: 1399px) {
  .border-right-dotted-card {
    display: none;
  }
}

.header {
  background-color: #44A9F8;
  width: 100%;
}

.header__info {
  text-align: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 302px;
}

.header__info .header-padding-top-bottom {
  padding-top: 68px;
  padding-bottom: 28px;
}

.header__info .header__title-h2 {
  width: 45%;
  margin: 0 auto;
}

@media (max-width: 1399px) {
  .header__info .header__title-h2 {
    display: none;
  }
}

.header__info .header__title-h3 {
  display: none;
}

@media (max-width: 1399px) {
  .header__info .header__title-h3 {
    display: block;
  }
}

.header__info .header__span {
  background-color: #FFC20A;
  padding: 4px 8px;
  margin: 0 auto;
  text-transform: uppercase;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.navbar {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.navbar__container {
  height: 74px;
}

.navbar__container .navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__container .navbar__links li {
  list-style: none;
  margin-left: 48px;
  text-transform: uppercase;
}

@media (max-width: 1399px) {
  .navbar__container .navbar__links li {
    display: none;
  }
}

.navbar__container .navbar__links a {
  text-decoration: none;
  color: #565656;
}

.navbar__container .navbar__links a:hover {
  color: #FF9100;
  cursor: pointer;
}

.navbar__container .navbar__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 16.34px;
}

@media (max-width: 1399px) {
  .navbar__container .navbar__logo .navbar__img-softuni-desktop {
    display: none;
  }
}

.navbar__container .navbar__logo .navbar__img-softuni-phone {
  display: none;
}

@media (max-width: 1399px) {
  .navbar__container .navbar__logo .navbar__img-softuni-phone {
    display: block;
  }
}

.navbar__container .navbar__search {
  margin-right: 32px;
  margin-left: 44px;
}

@media (max-width: 1399px) {
  .navbar__container .navbar__search {
    display: none;
  }
}

.navbar__container .navbar__img-menu {
  display: none;
}

@media (max-width: 1399px) {
  .navbar__container .navbar__img-menu {
    display: block;
    padding-left: 24px;
  }
}

.card {
  margin-top: -80px;
}

.card__container {
  background-color: white;
  min-height: 112px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
  margin-top: 24px;
}

.card__container-inside {
  width: 100%;
}

@media (max-width: 1399px) {
  .card__container-inside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5% 5%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 1399px) {
  .card__button {
    margin: 0 auto;
    padding: 16px 94px;
    line-height: 20px;
  }
}

.card__label__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 52px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__label__img {
  margin-right: 24px;
}

.card__money {
  margin-left: 50px;
}

@media (max-width: 1399px) {
  .card__money {
    margin-left: 0;
  }
}

.card__money__info {
  margin-left: 10px;
}

.card__location {
  position: relative;
}

.card__location__img__circle {
  position: absolute;
  left: 6px;
  bottom: 22px;
}

.card__calendar {
  position: relative;
}

.card-calendar-front {
  position: absolute;
  left: 3px;
  bottom: 16px;
}

.p-information {
  color: #565656;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.p-value {
  color: #FF9100;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.main__text-video {
  margin-top: 153px;
  margin-bottom: 98px;
}

@media (max-width: 1399px) {
  .main__text-video {
    margin: 64px 0;
  }
}

@media (max-width: 1399px) {
  .main__text-video__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
}

.main__text {
  max-width: 739px;
  min-height: 321px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 !important;
}

.main__text p {
  color: #565656;
}

@media (max-width: 1399px) {
  .main__text p {
    margin-bottom: 32px;
  }
}

.main__img {
  position: relative;
}

.main__img .main__img-picture {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  height: auto;
  max-width: 440px;
}

@media (max-width: 1399px) {
  .main__img .main__img-picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
}

.main__img .main__img-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main__info-1 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1399px) {
  .main__info-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__info-1 article {
  max-width: 552px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__info__section {
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__info__section--third a {
  color: #FF9100;
}

.main__info__section p {
  margin-top: 16px;
}

@media (max-width: 1399px) {
  .main__info__section p {
    margin-left: -48px;
  }
}

.main__info__section strong {
  color: #565656;
}

.main__info__section__title {
  color: #565656;
  margin: 0;
}

@media (max-width: 1399px) {
  .main__info__section__title--phone {
    text-indent: -9999px;
    line-height: 0;
    /* Collapse the original line */
  }
  .main__info__section__title--phone::after {
    content: "Важно!";
    text-indent: 0;
    display: block;
    line-height: initial;
  }
}

.main__info-2 {
  margin-top: 42px;
}

.main__info-2 .main__info-1 article {
  max-width: 610px;
}

@media (max-width: 1399px) {
  .main__info-1-img-puzzle {
    display: none;
  }
}

.main__info-1-img-bell {
  display: none;
}

@media (max-width: 1399px) {
  .main__info-1-img-bell {
    display: block;
  }
}

.program {
  background-color: #FFC20A;
  min-height: 554px;
}

.program__container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 100%;
  position: relative;
  margin: 64px 60px;
}

@media (max-width: 1399px) {
  .program__container {
    margin: 64px 0px;
  }
}

.program__title {
  color: #565656;
}

@media (max-width: 1399px) {
  .program__title {
    margin-left: 60px;
  }
}

.program__text {
  color: #565656;
  padding: 24px 0;
  max-width: 675px;
}

.program__img-book {
  position: absolute;
  left: -60px;
}

@media (max-width: 1399px) {
  .program__img-book {
    left: 0px;
  }
}

.program__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 676px;
  min-height: 248px;
}

.program__label select {
  border-radius: 6px;
  height: 50px;
  width: 100%;
  padding: 14px 14px;
  border: none;
  color: #565656;
  -webkit-appearance: none;
}

.program__label label::after {
  content: '';
  background: url("/assets/icons/arrow.svg") center no-repeat;
  width: 12px;
  height: 8px;
  display: inline-block;
  position: relative;
  top: 30px;
  left: 95%;
}

@media (max-width: 1399px) {
  .program__label label::after {
    left: 90%;
  }
}

.program__img-to-do-list {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1399px) {
  .program__img-to-do-list {
    display: none;
  }
}

.program__label-for-loop h5 {
  color: #565656;
}

.reward__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1399px) {
  .reward__container {
    display: none;
  }
}

.reward__box {
  height: 256px;
  width: 363px;
  border-radius: 12px;
  background-color: #D6D6D6;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reward__box h5 {
  font-weight: 500;
  color: #565656;
}

.program__text--second {
  width: 544px;
  padding: 12px 0;
}

.footer {
  margin-top: 150px;
  background-color: #565656;
  border-top: 12px solid #919191;
  min-height: 312px;
  position: relative;
}

@media (max-width: 1399px) {
  .footer {
    margin-top: 96px;
    height: 600px;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 260px;
  padding-top: 30px;
}

@media (max-width: 1399px) {
  .footer__container {
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    max-height: 555px;
    padding-top: 0px;
  }
}

.footer__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 256px 145px 167px 177px;
  grid-template-columns: 280px 1fr 1fr 1fr;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  margin-left: 78px;
}

@media (max-width: 1399px) {
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-left: 0px;
    margin-top: 52px;
    max-height: 555px;
    width: 62%;
  }
}

@media (max-width: 1399px) {
  .footer .position-relative-second {
    margin-bottom: 18px !important;
  }
}

@media (max-width: 1399px) {
  .footer__section {
    margin-left: 0;
    width: 50%;
    margin-bottom: 32px;
  }
}

.footer__section h5 {
  width: 180px;
  height: 0px;
  margin: 30px 0;
}

@media (max-width: 1399px) {
  .footer__section h5 {
    height: auto;
    margin: 0 0 16px 0 !important;
  }
}

.footer__section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 170px;
}

@media (max-width: 1399px) {
  .footer__section ul {
    height: auto;
    width: 150px;
  }
}

.footer__section ul li {
  list-style: none;
  padding: 7px 0px;
}

.footer__section ul li a {
  text-decoration: none;
  color: #E6E6E6;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}

.footer__social-media {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-flow: row !important;
          flex-flow: row !important;
  height: 65px !important;
}

.footer__text {
  color: #919191;
  width: 100%;
}

@media (max-width: 1399px) {
  .footer__text {
    position: absolute;
    width: 307px;
    border-top: 2px solid #696969;
    text-align: center;
    padding-top: 32px;
    bottom: 30px;
    left: 22px;
    width: 90%;
  }
}

.footer__img-pikachu {
  position: relative;
  bottom: 47px;
}

@media (max-width: 1399px) {
  .footer__img-pikachu {
    display: none;
  }
}

.footer section ul li:hover {
  cursor: pointer;
  -webkit-filter: brightness(0) saturate(100%) invert(66%) sepia(56%) saturate(433%) hue-rotate(122deg) brightness(88%) contrast(87%);
          filter: brightness(0) saturate(100%) invert(66%) sepia(56%) saturate(433%) hue-rotate(122deg) brightness(88%) contrast(87%);
}

@media (max-width: 1399px) {
  .footer__title-social-media {
    display: none;
  }
}

.fa-instagram {
  margin-left: 30px;
}
/*# sourceMappingURL=style.css.map */