.button {
    text-transform: uppercase;
    color: #fff;
    background: #FF9100;
    border-radius: 100px;
    padding: 14px 32px;
    border: none;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
}

.button--small {
    padding: 10px 22px;
    font-size: 13px;
    line-height: 16px;
}