.site {
  font-size: 20px;
  max-width: 60rem;
  background-color: rgb(220, 220, 220);
  margin: 3em;

  @at-root { // instead of generating selector ".site .site-paragraph", just ".site-paragraph" will be generated
    &-paragraph1 {
      color: white
    }

    &-paragraph2 {
      color: green;
    }

    &-paragraph3 {
      color: red;
    }
  }
}
