@import "../01.settings/_settings-colors.scss";

.form {
    margin: 96px auto;
    width: 60%;

    article {
        display: grid;
        justify-items: start;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 190px;
        row-gap: 30px;
        column-gap: 30px;

        & input {
            width: 100%;
            border: 1px solid $grey-500;
            background-color: $white-color;
        }
    }

    article h3 {
        color: $primary-300;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 0 auto;
        padding-top: 15px;
    }

    &__button {
        grid-column-start: 1;
        grid-column-end: 1;
    }
}