@import "../01.settings/_settings-breakpoints.scss";
@import "../01.settings/_settings-colors.scss";

.header {
    background-color: $blue-400;
    width: 100%;

    &--page-2 {
        background-color: $secondary-600;

        &--team {
            height: 400px;
            background-color: $blue-300;
            border-top: 12px solid $blue-200;

            @include for-phone-only{
                height: 662px;
            }
        }
    }

    &--page-3{
        background: url("/assets/icons/map.svg") center no-repeat;
        background-size: cover;
    }

    &__info {
        text-align: center;
        color: $white-color;
        display: flex;
        flex-direction: column;
        height: 302px;

        &--page-2 {
            height: 256px;
            margin-bottom: 96px;
            justify-content: center;

            @include for-phone-only {
                height: 356px;
            }

            &--team {
                height: 200px;
                margin: 50px 0;
                justify-content: space-between;

                @include for-phone-only{
                    height: 550px;
                }
            }
        }

        &--page-3{
            height: 500px;
        }

        .header-padding-top-bottom {
            padding-top: 64px;
            padding-bottom: 24px;

            &--page-2 {
                padding-top: 0;

                &--team {
                    padding: 0;
                }
            }

        }

        .header__title-h2 {
            width: 45%;
            margin: 0 auto;

            @include for-phone-only {
                display: none;
            }

            &--page-2 {
                @include for-phone-only {
                    display: block;
                    width: auto;
                }

                &--team {
                    width: auto;
                }
            }
        }

        .header__title-h3 {
            display: none;

            @include for-phone-only {
                display: block;
            }
        }

        .header__span {
            background-color: $secondary-500;
            padding: 4px 8px;
            margin: 0 auto;
            text-transform: uppercase;
            border-radius: 4px;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
        }
    }
}