@import "../01.settings/_settings-breakpoints.scss";
@import "../01.settings/_settings-colors.scss";

.main__text-video {
    margin-top: 96px;
    margin-bottom: 98px;

    @include for-phone-only {
        margin: 64px 0;
    }
}

.main__text-video__container {
    @include for-phone-only {
        flex-direction: column;
        width: 90%;
    }
}

.main__text {
    max-width: 739px;
    min-height: 321px;
    flex-direction: column;
    margin: 0 !important;

    & p {
        color: $grey-700;

        @include for-phone-only {
            margin-bottom: 32px;
        }
    }
}

.main__img {
    position: relative;

    & .main__img-picture {
        vertical-align: middle;
        border-style: none;
        width: 100%;
        height: auto;
        max-width: 440px;

        @include for-phone-only { // refactoring because image is blurred
            // height: 190px;
            display: flex;
            margin: 0 auto;
        }
    }

    & .main__img-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}