@import "../01.settings/_settings-breakpoints.scss";
@import "../01.settings/_settings-colors.scss";

.main__info-1 {
    align-items: flex-start;

    @include for-phone-only {
        flex-direction: column;
        align-items: center;
    }
}

.main__info-1 {

    & article {
        max-width: 552px;
        display: flex;
        align-items: flex-start;

    }

    &--page-2 article {
        @include for-phone-only {
            align-items: center;
            flex-direction: column;
            margin-bottom: 64px;
            max-width: initial;
        }
    }
}

.main__info__section {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--page-2 {
        @include for-phone-only {
            margin-left: 0;
            justify-content: center;
            align-items: center;
        }

        & p {
            color: $grey-700;

            @include for-phone-only {
                margin-left: 0 !important;
            }
        }
    }

    &--lecturers {
        margin-left: 0;
    }

    &--third {

        & a {
            color: $secondary-800;
        }
    }

    & p {
        margin-top: 16px;

        @include for-phone-only {
            margin-left: -48px;
        }
    }

    & strong {
        color: $grey-700;
    }

    &__details {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &--page-3 {   
        margin: 0 10%;
        width: 80%;

        &--margin-top{
            margin-top: 35px;
        }
    }
}

.main__info__section__title {
    color: $grey-700;
    margin: 0;

    &--page-2 {
        color: $primary-300;
        font-weight: bold;

        @include for-phone-only {
            margin-top: 32px;
        }
    }

    &--phone {

        @include for-phone-only {
            text-indent: -9999px;
            line-height: 0;
            /* Collapse the original line */

            &::after {
                content: "Важно!";
                text-indent: 0;
                display: block;
                line-height: initial;
            }
        }
    }
}

.main__info-2 {
    margin-top: 42px;

    & .main__info-1 article {
        max-width: 610px;
    }
}

.main__info-1-img-puzzle {
    @include for-phone-only {
        display: none;
    }
}

.main__info-1-img-bell {
    display: none;

    @include for-phone-only {
        display: block;
    }
}